@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var Base = new SIGOPLAN.Controllers.BaseController();
    var EmpresaID = Base.getEmpresaID();
    var SistemaID = Base.getSistemaID();
}


<br />
@{if (Base.getNombreSistemaActual() == "Maquinaria")
{
    Html.RenderPartial("Dashboard", "Home");
}
else if (Base.getNombreSistemaActual() == "Admin y Finanzas")
{

    if (Base.getAction("DashboardAdminFinanzas"))
    {
        Html.RenderPartial("DashboardAdminFinanzas", "Home");
    }
    else
    {
        <div class="row">
            <center>
                @if (EmpresaID == 1)
                {
                    <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
                }
                else if (EmpresaID == 2)
                {
                    <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
                }
                else if (EmpresaID == 3)
                {
                    <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
                }
                else if (EmpresaID == 4)
                {
                    <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
                }
                else if (EmpresaID == 5)
                {
                    <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
                }
                else
                {
                    <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
                }
                <br />
                <br />
                <h3>BIENVENIDO AL MODULO DE <span style="font-weight:bold;">RH</span></h3>
            </center>
        </div>
        @*<div style="height:100%;" class="container text-center fondo">
        </div>*@
    }

}
else
{
    <div class="row">
        <center>
            @if (EmpresaID == 1)
            {
                <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
            }
            else if (EmpresaID == 2)
            {
                <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
            }
            else if (EmpresaID == 3)
            {
                <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
            }
            else if (EmpresaID == 4)
            {
                <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
            }
            else if (EmpresaID == 5)
            {
                <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
            }
            else
            {
                <img src="@Url.Content("~/Content/img/logo/logo0.png")" style="width:200px;">
            }
            <br />
            <br />
            <h3>BIENVENIDO AL MODULO DE 
            @if (SistemaID == 4)
            {
                <span style="font-weight:bold;">COMPRAS</span>
            }
            else if (SistemaID == 16)
            {
                <span style="font-weight:bold;">CAPITAL HUMANO</span>
            }
            else
            {
                <span style="font-weight:bold;"></span>
            }
            </h3>
        </center>
    </div>
    @*<div style="height:100%;" class="container text-center fondo">
    </div>*@
}
}

