@{
    Layout = null;
}

<!DOCTYPE html>
<html style="height:100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Iniciar sesión</title>

    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/bootstrap.css")">*@
    <link href="~/Content/bootstrap5_3/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/MobileResponsive.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/css/principal/Style-Login.css")">
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/css/Style.css")">*@
    <link href="~/Content/style/css/styleV2.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.0.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/localization/messages_es.js")"> </script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"> </script>*@
    <script src="~/Scripts/bootstrap5_3/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Utilities/Utilities.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/Principal/Usuarios/Login.js")"> </script>
</head>

<body style="height:100%;" class="bgbody fondo">
    <div class="container-fluid">
        <div class="row align-items-center row-login">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="card card-login">
                    <div class="card-body text-center">
                        <form id="formLogin">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mx-auto p-2">
                                        <img src="~/Content/img/Logos/logo0.png" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input">
                                        <input id="txtUsuario" class="form-control" type="text" placeholder="Usuario" required />
                                        <span><i class="fa fa-user"></i></span>
                                    </div>
                                    <div class="input">
                                        <input id="txtPassword" class="form-control" type="password" placeholder="Contraseña" required />
                                        <span><i class="fa fa-user"></i></span>
                                    </div>
                                    <div class="input">
                                        <div class="d-grid gap-2">
                                            <button type="button" class="btn btn-primary" id="btnEntrar">Iniciar Sesión</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <nav class="navbar fixed-bottom bg-body-tertiary body-footer-navbar">
        <div class="container-fluid">
            @{
                DateTime today = DateTime.Now;
                var year = today.Year;

                <div class="text-center body-footer">
                    Todos los Derechos Reservados ©@year Sol- industriales
                </div>
            }
        </div>
    </nav>
    @*<nav class="navbar navbar-default navbar-fixed-top navbar-color">
    </nav>
    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default login">
                    <div class="panel-heading" id="divisor">
                        <div class="row-fluid user-row">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <h3 class="panel-title user-row">SIGOPLAN</h3>
                            <div class="text-center">
                                <img src="@Url.Content("~/Content/img/logo/logo.png")" height="150">
                            </div>
                        </div>
                        <form id="formLogin" accept-charset="UTF-8" role="form">
                            <fieldset>
                                <div class="input">
                                    <input id="txtUsuario" type="text" placeholder="Usuario" required />
                                    <span><i class="fa fa-user"></i></span>
                                </div>
                                <div class="input">
                                    <input id="txtPassword" type="password" placeholder="Password" required />
                                    <span><i class="fa fa-lock"></i></span>

                                </div>
                                <button id="btnEntrar" type="button" class="submit">
                                    <i class="fa fa-long-arrow-right"></i>
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav navbar navbar-default navbar-fixed-bottom cumtomFotter">
        @{
            DateTime today = DateTime.Now;
            var year = today.Year;

            <div class="text-center">Todos los Derechos Reservados ©@year Construplan</div>
        }
    </nav>*@
    <!-- Modal -->

    <div class="modal fade" id="modalMenuPpal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">SELECCIONAR EMPRESA</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-body-ppal text-center modal-content-tamaño">
                        <div class="panel panel-primary ">
                            <div class="panel-body">
                                <div id="divMenuAcceso" class="row text-center justify-content-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    @*<div class="modal fade" id="modalMenuPpal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="background-color:#da6a1a;" role="document">
            <div class="modal-content modal-content-ppal">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center>
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;EMPRESA</h3>
                    </center>
                </div>
                <div class="modal-body modal-body-ppal text-center modal-content-tamaño">
                    <div class="panel panel-primary ">
                        <div class="panel-body fix-panel">
                            <div id="divMenuAcceso" class="row text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="modal fade" id="modalEliminar" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                    <h4 class="modal-title">Alerta</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ajustar-texto">
                    <h5 id="pMessage"></h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="icon" class="col-md-2">
                                <span class="glyphicon glyphicon-warning-sign alert-warning-span" style="font-size:40px;top:-20px;" aria-hidden="true">
                                </span>
                            </div>
                            <h3 id="mensajeErrorLogin"> Usuario y/o Contraseña incorrecto</h3>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-bs-dismiss="modal" class="btn btn-primary btn-sm">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>