@{
    ViewBag.Title = "CapturaFormato";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

}

@*<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
    <link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
    <script src="~/Scripts/js/Administrativo/RecursosHumanos/FormatoCambio/CatFormatoCambioJS.js"></script>*@


@*instanciando el scrip a trabajar con bootgrid*@
<script src="~/Scripts/js/Administrativo/RecursosHumanos/AditivaPersonal/GestionAdvdec.js"></script>
@*modal geenrar reporte*@
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="row">
        <h2 class="text-center">Seguimiento de Aditivas-Deductivas de Personal</h2>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros búsqueda:</legend>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-lg-1">
                            <label> CC</label>
                            <input type="text" id="txtCCFiltro" class="form-control no-padding" />
                        </div>
                        <div class="col-lg-2">
                            <label> Nombre</label>
                            <input type="text" id="txtNombreCC" class="form-control" disabled />
                        </div>
                        <div class="col-lg-2">
                            <label>Numero de Folio:</label>
                            <input type="text" id="NumFolio" class="form-control no-padding" />
                        </div>
                        <div class="col-lg-2">
                            <label>Estado:</label>
                            <select id="chgEstado" class="form-control no-padding">
                                <option value="1">Pendientes</option>
                                <option value="2">Aprobado</option>
                                <option value="3">Rechazado</option>
                                <option value="0">Todos</option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-info margin-top" id="btnAplicarFiltros">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row form-group">
        @*creacion tabla raraguilar*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Lista de Aditivas-Deductivas Personal:</legend>
                @*<button type="button" class="btn btn-primary" id="btnGuardar"><i class="fa fa-save"></i> Guardar</button>*@
                <div class="table-responsive">
                    <table id="tblAditivaDeduc" class="table table-striped table-fixed">
                        <thead class="bg-table-header">
                            <tr>

                                <th data-column-id="id">Operacion</th>
                                <th data-column-id="folio">Folio</th>
                                <th data-column-id="cC">Centro De Costos</th>
                                <th data-formatter="aprobado">Estado</th>
                                <th data-formatter="btn-detalle">Detalle</th>
                                <th data-formatter="btn-editar" data-column-id="editar">Editar</th>
                                <th data-formatter="btn-eliminar">Eliminar</th>
                                @*<th data-column-id="numProveedor" data-searchable="true">Plantilla</th>*@
                                @*<th data-column-id="numNafin" data-formatter="numNafin" data-searchable="false">Nafin</th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>


    @*<div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Resultados Búsqueda:</legend>
                    <div class="scroll divPadding" id="divFormatoPendientes">
                        @Html.Partial("FormatoCambio/TablaFormatosCambioPedientes", @Model.lstFormatosPendientes)
                    </div>

                </fieldset>
            </div>
        </div>
        <label id="usrLog" hidden>@ViewBag.Permiso</label>
        <label id="verModal" hidden>@ViewBag.VerModal</label>
        <label id="verFormato" hidden>@ViewBag.VerFormato</label>*@


</div>

@Html.Partial("reportViewerView", false)



@*modal eliminar*@
<div class="modal fade" id="modalEliminar" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="titleModalDesfase">Eliminar formato</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>¿Seguro que desea eliminar el formato seleccionado?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btnEliminar" class="btn btn-primary btn-sm"><span class="glyphicon"></span>Continuar</a>
                <a data-dismiss="modal" id="btnCancelActivity" class="btn btn-primary btn-sm"><span class="glyphicon"></span>Cerrar</a>
            </div>
        </div>
    </div>
</div>

<div style="z-index:9000;" class="modal fade" id="modalRechazo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">

                    <h3> Rechazo de Solicitud</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 form-group">
                        <label>Comentario:</label>
                        <textarea class="form-control" rows="3" id="txtAreaNota"></textarea>
                    </div>
                    <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
                        <button type="button" class="btn btn-primary pull-right" id="btnRechazoSave">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*trabajo modal 7/12/17*@
        <div class="modal fade  fullscreen-modal" id="modalAprobadores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-bg ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="text-center">
                            <h3><label>Seguimiento de Autorizacion</label></h3>
                        </div>
                    </div>
                    <div class="modal-body container-fluid">
                        <div class="table-responsive">
                            <table id="tableAprobaciones" class="table table-striped table-fixed">
                                <thead class="bg-table-header">
                                    <tr style="text-align:center">
                                        @*Autorizacion Detalle*@
                                        @*public int id { get; set; }
                                            public int id_AditivaDeductiva { get; set; }
                                            public int clave_Aprobador { get; set; }
                                            public string nombre_Aprobador { get; set; }
                                            public string responsable { get; set; }
                                            public string puestoAprobador { get; set; }
                                            public bool estatus { get; set; }
                                            public string firma { get; set; }
                                            public bool autorizando { get; set; }
                                            public bool rechazado { get; set; }
                                            public int orden { get; set; }
                                            public bool tipoAutoriza { get; set; }*@
                                        <th data-column-id="responsable">Participacíon</th>
                                        <th data-column-id="nombre_Aprobador">Nombre</th>
                                        <th data-column-id="puestoAprobador">Puesto</th>
                                        <th data-column-id="estatus" data-formatter="autorizando">Estatus</th>
                                        <th data-column-id="firma" data-formatter="firmar">Firma</th>
                                        <th data-column-id="fechafirma" data-formatter="fechafirma">Fecha-Firmado</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="row text-center form-group">
                            <h5>Capturó: <span style="font-weight:bold;" id="capUser"></span></h5>
                            <h5><span id="motivoRechazo"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .fullscreen-modal .modal-dialog {
                margin: 0;
                margin-right: auto;
                margin-left: auto;
                width: 80%;
            }
        </style>
