@{
    ViewBag.Title = "Elaboración de elaboración de equipo";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    var Base = new SIGOPLAN.Controllers.BaseController();
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/style/Sytle-Wizard.css")" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Inventario/Style-ElaboracionSolicitudesEquipo.css" rel="stylesheet" />


<script type="text/javascript" src="@Url.Content("~/Scripts/Utilities/wizardjs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/Maquinaria/Movimientos/Solicitud.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/js/Maquinaria/Inventario/ElaboracionDeSolicitudJS.js")"></script>

<script src="~/Scripts/Utilities/Maquinaria/UtilitiesMaquinariaJs.js"></script>
<script>
    var NombreUsuario = "@Base.getUsuario().nombre";
    var idUsuario = @Base.getUsuario().id;
</script>

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Elaboración de Solicitud de Maquinaria</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#Step1" type="button" class="btn btn-circle btn-default btn-primary">1</a>
                        <p>Paso 1</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#Step2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Paso 2</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>Finalizar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="setup-content" id="Step1">
            <form id="frmSolicitud">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">Generales :</legend>
                            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 form-group" style="padding:0px">
                                <label>Arranque Obra</label>
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="primary" id="btnArranque"><span id="lblArranqueObra"></span></button>
                                    <input type="checkbox" class="hidden" id="ckArranque" />
                                </span>
                            </div>
                            <div class="col-xs-6 col-xs-6 col-md-2 col-lg-2 form-group">
                                <label>Folio Solicitud:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="tbFolioSolicitud" disabled="">
                                    <select class=" form-control hide" id="cboFolio">
                                        <option></option>
                                    </select>
                                    <span class="input-group-addon" id="btnFolioSolicitud" data-toggle="tooltip" title="botón de Consulta"><span class="glyphicon glyphicon-pencil"></span></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group">
                                <label>Área Cuenta:</label>
                                <input class="form-control" type="text" id="tbCC" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                <label>Descripción:</label>
                                <input class="form-control" type="text" id="tbDescripcionCC" disabled />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">
                                <label>Fecha Elaboró:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input type="text" disabled class="form-control" aria-describedby="sizing-addon2" id="tbSingleDate">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">Autorizadores:</legend>
                            <div class="col-lg-3 hide">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Nombre:</label><input class="form-control" id="tbElabora" />
                                    </div>
                                    <div class="panel-body">Elabora Solicitud</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Nombre:</label>
                                        @*<input class="form-control" id="tbGerenteObra" />*@
                                        <select class="form-control" id="tbGerenteObra"></select>
                                    </div>
                                    <div class="panel-body">Gerente de Obra</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Nombre:</label>
                                        @*<input class="form-control" id="tbGerenteObra" />*@
                                        <select class="form-control" id="tbGerenteDirector"></select>
                                    </div>
                                    <div class="panel-body">Gerente/Director Division</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Nombre:</label>
                                        <select class="form-control" id="tbDirectorDivision"></select>
                                        @*<input class="form-control" id="tbDirectorDivision" />*@
                                    </div>
                                    <div class="panel-body">Director División</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Nombre:</label>
                                        <select class="form-control" id="tbDirectorServicios"></select>
                                        @*<input class="form-control" id="tbDirectorDivision" />*@
                                    </div>
                                    <div class="panel-body">Director de Servicios</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Nombre:</label>
                                        <select class="form-control" id="tbAltaDireccion"></select>
                                        @*<input class="form-control" id="tbAltaDireccion" />*@
                                    </div>
                                    <div class="panel-body">Alta Dirección</div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                            <button class="btn btn-info btn-margin-top modal-margin-rigth pull-right nextBtn" type="button" id="btnSiguiente1">Siguiente</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="setup-content" id="Step2" style="display: none;">
            <div id="containerTable">
                <form id="pageStep2">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">
                                    Programación de fechas:
                                </legend>
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 form-group">
                                    <label>Prioridad:</label>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" id="radioPrioridad3" value="C" name="radioInline1">Normal
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="radioPrioridad2" value="B" name="radioInline1" checked="checked">Programada
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="radioPrioridad1" value="A" name="radioInline1">Urgente
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 form-group">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="tbFechaIni">Fecha en Obra:</label>
                                            <input type="text" id="tbFechaIni" class="form-control" readonly style="background: white;"/>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="tbFechaFin">Fecha Terminación:</label>
                                            <input type="text" id="tbFechaFin" class="form-control" readonly style="background: white;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                                    <button type="button" class="btn btn-success btn-margin-top pull-right modal-margin-rigth margin-top" id="btnAgregarSolicitud">
                                        <span class="glyphicon glyphicon-plus"></span> Agregar
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">
                                Tabla de Programas:
                            </legend>
                            <table id="tblSolicitudesMaquinaria" class="table table-responsive table-striped">
                                <thead class="bg-table-header">
                                    <tr>
                                        <th data-column-id="id" data-css-class="hidden" data-header-css-class="hidden" data-align="center" data-header-align="center">id</th>
                                        <th data-column-id="FechaInicio" data-formatter="FechaInicio" data-align="center" data-sortable="false" data-header-align="center">Fecha Obra Inicio</th>
                                        <th data-column-id="FechaFin" data-formatter="FechaFin" data-align="center" data-sortable="false" data-header-align="center">Fecha Fin</th>
                                        <th data-column-id="TipoPrioridad" data-formatter="Prioridad" data-order="desc" data-sortable="false" data-align="center" data-header-align="center">Prioridad</th>
                                        <th data-column-id="AddEquipos" data-formatter="AddEquipos" data-sortable="false" data-align="center" data-header-align="center"> Agregar Equipos </th>
                                        <th data-column-id="VerEquipos" data-formatter="VerEquipos" data-sortable="false" data-align="center" data-header-align="center"> Visualizar Equipos </th>
                                        <th data-column-id="Remover" data-formatter="Remover" data-sortable="false" data-align="center" data-header-align="center">Quitar Programa</th>
                                    </tr>
                                </thead>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="row divJustificacion" style="display:block;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">
                                Justificación:
                            </legend>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label for="cboConcepto">Concepto:</label>
                                        <select id="cboConcepto" class="form-control">
                                            <option value="1">Trabajo adicional solicitado por el cliente (adjuntar análisis)</option>
                                            <option value="2">El equipo no está cumpliendo con el rendimiento considerado en la propuesta inicial (adjuntar análisis)</option>
                                            <option value="3">Reducción de periodo de ejecución del contrato actual (adjuntar análisis)</option>
                                            <option value="4">Cambio de condiciones a las consideradas en la propuesta inicial</option>
                                            <option value="5">Otros</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label for="fuEvidencia">Evidencia:</label>
                                        <input type="file" id="fuEvidencia" class="form-control" style="background: white;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group otraJustificacion" style="display:none;">
                                <fieldset class="fieldset-custm">
                                    <legend class="legend-custm">
                                        Otra justificación:
                                    </legend>
                                    <textarea id="txtOtraJustificacion" rows="3" style="width:100%;" placeholder="EJ. De acuerdo las condiciones del terreno se reconocen por el cliente el volumen adicional y el cambio de material por lo que se solicita incrementar en un tractor adicional que realice ese volumen y tipo de material en un mes."></textarea>
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row divJustificacion" style="display:block;">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">
                                Consideraciones iniciales
                            </legend>
                            <textarea id="txtCondicionInicial" rows="3" style="width:100%;" placeholder="EJ. El concepto de corte tipo b con equipo, se consideró un rendimiento de 150m³/hr y un volumen de 100,000m3 en un total de 300 días (2 tractores considerados)."></textarea>
                        </fieldset>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">
                                Condiciones actuales
                            </legend>
                            <textarea id="txtCondicionActual" rows="3" style="width:100%;" placeholder="EJ. En la revisión de volumetría, contractual vs real se identificó que el volumen de corte serán 120,000 m3 además de una zona con corte c con medios mecánicos además de diferente rendimiento, se estima el B con 130 m³/hr y el C cn 90 m³ hr."></textarea>
                        </fieldset>
                    </div>
                </div>
                <div class="row divJustificacion" style="display:block;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">
                                Justificación de la aditiva de maquinaria y equipo:
                            </legend>
                            <table id="tblJustificacion" class="table table-responsive table-striped">
                                <thead class="bg-table-header">
                                    <tr>
                                        <th>Grupo</th>
                                        <th>Modelo</th>
                                        <th>Justificación</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyJustificacion"></tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                    <button class="btn btn-info pull-right nextBtn" type="button" disabled id="btnSiguiente2">Siguiente</button>
                </div>
            </div>
        </div>
        <div class="setup-content" id="step-3" style="display: none;">

            <div class="row">

                <div class="col-lg-12">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm">Vista Preliminar:</legend>
                        <div class="clsFrame text-center form-group">
                            <iframe id="report" align="middle" marginwidth="0"
                                    marginheight="0"
                                    hspace="0"
                                    vspace="0"
                                    frameborder="0"
                                    scrolling="no" class="StyleIframe"></iframe>

                        </div>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" id="btnRegresar">
                                    <span class=" glyphicon glyphicon-arrow-left"></span> Regresar
                                </button>
                                <button type="button" class="btn btn-primary" id="btnGuardarSolicitud">
                                    <span class=" glyphicon glyphicon-floppy-disk"></span> Guardar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

    </div>
</div>

@* Seccion de modales *@

<div class="modal fade" id="modalProgramMaquinaria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg-large" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Seleccion de equipos para solicitar</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <input class="hidden" id="idMaquina" value="0" />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">
                                    Datos Maquinaria:
                                </legend>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                    <label>Tipo Maquinaria:</label>
                                    <select class="form-control" id="cboTipoMaquinaria"></select>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                                    <label>Grupo Maquinaria:</label>
                                    <select class="form-control" id="cboGrupoMaquinaria"></select>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                                    <label>Modelo:</label>
                                    <select class="form-control" id="cboModeloMaquinaria"></select>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 form-group">
                                    <label>Tipo Utilizacion:</label>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" id="radioTipoUso" value="1" name="radioTipoUtilizacion" checked="checked"><label for="radioTipoUso">Horometros</label>
                                        </label>
                                        <label class="radio-inline hide">
                                            <input type="radio" id="radioTipoUso1" value="2" name="radioTipoUtilizacion"><label for="radioTipoUso1">Kilometraje</label>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="radioTipoUso2" value="3" name="radioTipoUtilizacion"><label for="radioTipoUso2">No Aplica</label>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                                    <label>Cantidad de Equipos Por Grupo:</label>
                                    <input class="form-control" type="number" id="tbCantidadSolicitada" min="1" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group" id="divUtilizacion">
                                    <label id="txtHorasUso" for="ModalTbHorasUtilizacion">Total Utilización Horas por grupo:</label>
                                    <input class="form-control" type="text" id="ModalTbHorasUtilizacion" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                    <button type="button" class="btn btn-success pull-right margin-top" id="btnGuardarPrograma">
                                        <span class="glyphicon glyphicon-plus"></span> Agregar
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                    <label id="txtMensaje"></label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMaquinariaProgramada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg-large" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Lista de equipo requerido</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divEquiposSolicitadosN">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">
                                    Detalle de equipo solicitado:
                                </legend>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top" style="overflow: auto;height: 475px;">
                                    <table id="tblEquiposSolicitados" class="table table-responsive table-striped">
                                        <thead class="bg-table-header">
                                            <tr>
                                                <th data-column-id="id" data-css-class="hidden" data-header-css-class="hidden" data-align="center" data-header-align="center">id</th>
                                                <th data-column-id="Tipo" data-formatter="Tipo" data-align="center" data-header-align="center">Tipo Equipo</th>
                                                <th data-column-id="Grupo" data-formatter="Grupo" data-align="center" data-header-align="center">Grupo Equipo</th>
                                                <th data-column-id="Modelo" data-formatter="Modelo" data-align="center" data-header-align="center">Modelo Equipo</th>
                                                <th data-column-id="HorasTotales" data-formatter="HorasTotales" data-align="center" data-header-align="center">Total Horas</th>
                                                <th data-column-id="pHoras" data-formatter="AddHoras" data-sortable="false" data-align="center" data-header-align="center">Utilizacion en Horas</th>
                                                <th data-column-id="Comentario" data-formatter="AddComentario" data-sortable="false" data-align="center" data-header-align="center">Comentario</th>
                                                <th data-column-id="Remover" data-formatter="RemoveEquipo" data-sortable="false" data-align="center" data-header-align="center">Quitar Equipos</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divEquiposSolicitadosA">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">
                                    Detalle de equipo solicitado en Arranque de obra:
                                </legend>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top scroll">
                                    <table id="tblAsignacionEquipos" class="table table-responsive table-striped">
                                        <thead class="bg-table-header">
                                            <tr>
                                                <th data-column-id="id" data-css-class="hidden" data-header-css-class="hidden" data-align="center" data-header-align="center">id</th>
                                                <th data-column-id="Tipo" data-formatter="Tipo" data-align="center" data-header-align="center" data-width="6%">Tipo Equipo</th>
                                                <th data-column-id="Grupo" data-formatter="Grupo" data-align="center" data-header-align="center" data-width="10%">Grupo Equipo</th>
                                                <th data-column-id="Modelo" data-formatter="Modelo" data-align="center" data-header-align="center" data-width="6%">Modelo Equipo</th>
                                                <th data-column-id="HorasTotales" data-formatter="HorasTotales" data-align="center" data-header-align="center" data-width="6%">Total Horas</th>
                                                <th data-column-id="pHoras" data-formatter="AddHoras" data-sortable="false" data-align="center" data-header-align="center" data-width="6%">Utilizacion en Horas</th>
                                                <th data-column-id="Comentario" data-formatter="AddComentario" data-sortable="false" data-align="center" data-header-align="center" data-width="10%">Comentario</th>
                                                <th data-column-id="Economicos" data-formatter="Economicos" data-sortable="false" data-align="center" data-header-align="center" data-width="10%">Economicos</th>
                                                <th data-column-id="Remover" data-formatter="RemoveEquipo" data-sortable="false" data-align="center" data-header-align="center" data-width="1%">Quitar Equipos</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group margin-top">
                            <button type="button" class="btn btn-success pull-right margin-top" id="btnGuardarComentario">
                                <span class="glyphicon glyphicon-plus"></span> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



